<h1>Addition</h1>
<div class="container">
    <div class="col">
        <div class="row">
            <div class="mb-3">
                <input type="text" placeholder="num1" class="form-control" #tbox1>
                <input type="text" placeholder="num1" class="form-control" #tbox2>

            </div>
            <div>
                <input type="submit" class="form-control btn btn-outline-info" value="add" (click)="performaddition(tbox1,tbox2)">

            </div>
            <div>                <h1>Result={{result}}</h1>
            </div>
        </div>
    </div>

</div>